<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>SatBot - Admin</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
  </head>

  <body class="bg-light">
    <button
      id="logout-btn"
      onclick="location.href = '{{ url_for('logout') }}'"
      class="btn btn-outline-primary mt-3"
      style="font-family: 'Product Sans', sans-serif"
    >
      Log Out
    </button>
    <img
      src="{{ url_for('static', filename='USDLogo.png') }}"
      alt="USD Logo"
      class="logo-img"
    />
    <div class="square-top-left"></div>
    <div class="square-bottom-right"></div>
    <main class="container-fluid mt-5">
      <div id="overlay"></div>
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="card p-4 rounded-lg shadow-sm">
            <h2
              class="card-title text-center mb-4"
              style="font-family: 'Product Sans', sans-serif"
            >
              Professor Portal
            </h2>
            <p class="text-center">
              <strong>Class Code:</strong> {{ classcode }}
            </p>
            <div class="row">
              <div class="col-md-12">
                <ul class="nav nav-pills">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      href="#questionbase"
                      data-toggle="tab"
                      style="font-family: 'Product Sans', sans-serif"
                      >Question Base</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      href="#missed"
                      data-toggle="tab"
                      style="font-family: 'Product Sans', sans-serif"
                      >Missed Questions</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      href="#public"
                      data-toggle="tab"
                      style="font-family: 'Product Sans', sans-serif"
                      >Public Questions</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      href="#classlist"
                      data-toggle="tab"
                      style="font-family: 'Product Sans', sans-serif"
                      >Class List</a
                    >
                  </li>
                </ul>

                <div class="tab-content">
                  <div id="questionbase" class="tab-pane active container">
                    <div class="d-flex justify-content-end mb-2">
                      <button
                        id="add-new-entry"
                        class="btn btn-primary mr-2 top-button"
                        style="font-family: 'Product Sans', sans-serif"
                        type="top-submit"
                      >
                        Add New Entry
                      </button>
                      <button
                        class="btn btn-danger top-button"
                        style="font-family: 'Product Sans', sans-serif"
                        type="top-back"
                      >
                        Remove Selection(s)
                      </button>
                    </div>
                    <div class="scroll-window">
                      <ul>
                        {% for question in questions %}
                        <li>
                          <input type="checkbox" />
                          <span>{{ question[0] }}</span>
                          <button
                            class="btn btn-primary btn-xs side-button edit"
                            style="font-family: 'Product Sans', sans-serif"
                            type="side"
                          >
                            Edit
                          </button>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                  <div id="missed" class="tab-pane container">
                    <div class="d-flex justify-content-end mb-2">
                      <button
                        class="btn btn-danger top-button"
                        style="font-family: 'Product Sans', sans-serif"
                        type="top-back"
                      >
                        Remove Selection(s)
                      </button>
                    </div>
                    <div class="scroll-window">
                      <ul>
                        {% for missed in missed_questions %}
                        <li>
                          <input type="checkbox" />
                          <span>{{ missed[0] }}</span>
                          <button
                            class="btn btn-primary btn-xs side-button"
                            onclick="location.href = '{{ url_for('chat_preview', chat_id=missed[1]) }}'"
                            style="font-family: 'Product Sans', sans-serif"
                            type="side"
                          >
                            Open Chat Preview
                          </button>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                  <div id="public" class="tab-pane container">
                    <div class="d-flex justify-content-end mb-2">
                      <button
                        id="add-new-public-entry"
                        class="btn btn-primary mr-2 top-button"
                        style="font-family: 'Product Sans', sans-serif"
                        type="top-submit"
                      >
                        Add New Public Entry
                      </button>
                      <button
                        class="btn btn-primary mr-2 top-button"
                        style="font-family: 'Product Sans', sans-serif"
                        type="top-submit"
                      >
                        Add Selection(s) to Question Base
                      </button>
                      <button
                        class="btn btn-danger top-button"
                        style="font-family: 'Product Sans', sans-serif"
                        type="top-back"
                      >
                        Remove Selection(s)
                      </button>
                    </div>
                    <div class="scroll-window">
                      <ul>
                        {% for public_question in public_questions %}
                        <li>
                          <input type="checkbox" />
                          <span>{{ public_question[0] }}</span>
                          <button
                            class="btn btn-primary btn-xs side-button edit"
                            style="font-family: 'Product Sans', sans-serif"
                            type="side"
                          >
                            Edit
                          </button>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                  <div id="classlist" class="tab-pane container">
                    <div class="scroll-window">
                      <ul>
                        {% for student in class_list %}
                        <li>
                          <span>{{ student[0] }}</span>
                          <button
                            class="btn btn-primary btn-xs side-button"
                            onclick="location.href = '{{ url_for('chat_preview', student_id=student[1]) }}'"
                            style="font-family: 'Product Sans', sans-serif"
                            type="side"
                          >
                            View Chats
                          </button>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="preview-container" id="preview-container">
            <h4 style="font-family: 'Product Sans', sans-serif">
              Add Q/A Pair
            </h4>
            <input
              type="text"
              style="font-family: 'Product Sans', sans-serif"
              placeholder="Enter questions here:"
            />
            <input
              type="text"
              style="font-family: 'Product Sans', sans-serif"
              placeholder="Enter answer here:"
            />
            <button
              class="btn btn-primary"
              style="font-family: 'Product Sans', sans-serif"
              type="top-submit"
            >
              Add
            </button>
            <span class="close-button" id="close-button">&times;</span>
          </div>
          <div class="edit-container" id="edit-container">
            <h4 style="font-family: 'Product Sans', sans-serif">
              Edit Q/A Pair
            </h4>
            <input
              type="text"
              style="font-family: 'Product Sans', sans-serif"
              placeholder="Enter questions here:"
            />
            <input
              type="text"
              style="font-family: 'Product Sans', sans-serif"
              placeholder="Enter answer here:"
            />
            <button
              class="btn btn-primary"
              style="font-family: 'Product Sans', sans-serif"
              type="top-submit"
            >
              Save
            </button>
            <span class="close-button" id="edit-close-button">&times;</span>
          </div>
        </div>
      </div>
    </main>
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='admin.css') }}"
    />
    <script src="{{ url_for('static', filename='admin.js') }}"></script>
  </body>
</html>
